{% block sw_cms_block_alm_grid_3_9 %}
    <div class="sw-cms-block-alm-grid-3-9">

        <div class="col-md-3">
            <slot name="content1">{% block sw_cms_block_alm_grid_3_9__8 %}{% endblock %}</slot>
        </div>

        <div class="col-md-9">
            <slot name="content2">{% block sw_cms_block_alm_grid_3_9__4 %}{% endblock %}</slot>
        </div>
    </div>
{% endblock %}
