{% block sw_cms_block_alm_grid_6_6 %}
    <div class="sw-cms-preview-alm-grid-6-6">
        <img
            :src="assetFilter('/administration/static/img/cms/preview_mountain_small.jpg')"
            alt=""
        >
        <div class="slot">
            <div class="is--grid-wrapper col-md-6">
                <div class="is--grid-block">1</div>
            </div>
            <div class="is--grid-wrapper col-md-6">
                <div class="is--grid-block">2</div>
            </div>
        </div>
    </div>
{% endblock %}
