{% block sw_cms_block_alm_grid_12 %}
    <div class="sw-cms-preview-alm-grid-12">
        <img
            :src="assetFilter('/administration/static/img/cms/preview_mountain_small.jpg')"
            alt=""
        >
        <div class="slot">
            <div class="col-md-12 is--grid-wrapper">
                <div class="is--grid-block">1</div>
            </div>
        </div>
    </div>
{% endblock %}
