{% block sw_cms_block_alm_grid_6_6 %}
    <div class="sw-cms-block-alm-grid-6-6">

        <div class="col-md-6">
            <slot name="content1">{% block sw_cms_block_alm_grid_6_6__6 %}{% endblock %}</slot>
        </div>

        <div class="col-md-6">
            <slot name="content2">{% block sw_cms_block_alm_grid_6_6__62 %}{% endblock %}</slot>
        </div>
    </div>
{% endblock %}
