{% block sw_cms_block_almcode_element %}
    <div class="sw-cms-block-almcode-element">
        <slot name="content">{% block sw_cms_block_almcode_element %}{% endblock %}</slot>
    </div>
{% endblock %}
