{% block sw_cms_block_alm_grid_1_1_1_1_1 %}
    <div class="sw-cms-preview-alm-grid-1-1-1-1-1">
        <img
            :src="assetFilter('/administration/static/img/cms/preview_mountain_small.jpg')"
            alt=""
        >
        <div class="slot">
            <div class="is--grid-wrapper col">
                <div class="is--grid-block">1</div>
            </div>
            <div class="is--grid-wrapper col">
                <div class="is--grid-block">2</div>
            </div>
            <div class="is--grid-wrapper col">
                <div class="is--grid-block">3</div>
            </div>
            <div class="is--grid-wrapper col">
                <div class="is--grid-block">4</div>
            </div>
            <div class="is--grid-wrapper col">
                <div class="is--grid-block">5</div>
            </div>
        </div>
    </div>
{% endblock %}
