{% sw_extends '@Storefront/storefront/page/content/index.html.twig' %}

{% block base_main %}
    <main class="content-main">
        <div class="container">
            <div class="bc-wrapper">
                {% if context.customer.lastName is not empty %}
                    {% sw_include '@Storefront/storefront/layout/cutomerinfo.html.twig' %}
                {% endif %}
                {% sw_include '@Storefront/storefront/layout/breadcrumb.html.twig' with {
                    context: context,
                    navigationTree: page.header.navigation.tree,
                    category: page.header.navigation.active
                } only %}
            </div>
        </div>

        {% block base_flashbags %}
            {{ parent() }}
        {% endblock %}

        {% block base_main_inner %}
            <div class="container-main">
                {% block page_content %}
                    <div class="cms-page">
                        {% block page_content_blocks %}
                            {% sw_include "@Storefront/storefront/page/content/detail.html.twig" with {'cmsPage': page.cmsPage} %}
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </main>
{% endblock %}
