{% block sw_cms_block_alm_grid_3_6_3 %}
    <div class="sw-cms-block-alm-grid-3-6-3">

        <div class="col-md-3">
            <slot name="content1">{% block sw_cms_block_alm_grid_3_6_3__1 %}{% endblock %}</slot>
        </div>

        <div class="col-md-6">
            <slot name="content2">{% block sw_cms_block_alm_grid_3_6_3__2 %}{% endblock %}</slot>
        </div>

        <div class="col-md-3">
            <slot name="content3">{% block sw_cms_block_alm_grid_3_6_3__3 %}{% endblock %}</slot>
        </div>
    </div>
{% endblock %}
