{% block sw_cms_block_alm_grid_9_3 %}
    <div class="sw-cms-block-alm-grid-9-3">

        <div class="col-md-9">
            <slot name="content1">{% block sw_cms_block_alm_grid_9_3__9 %}{% endblock %}</slot>
        </div>

        <div class="col-md-3">
            <slot name="content2">{% block sw_cms_block_alm_grid_9_3__3 %}{% endblock %}</slot>
        </div>
    </div>
{% endblock %}
