{% block sw_cms_block_alm_grid_2_8_2 %}
    <div class="sw-cms-block-alm-grid-2-8-2">

        <div class="col-md-2">
            <slot name="content1">{% block sw_cms_block_alm_grid_2_8_2__1 %}{% endblock %}</slot>
        </div>

        <div class="col-md-8">
            <slot name="content2">{% block sw_cms_block_alm_grid_2_8_2__2 %}{% endblock %}</slot>
        </div>

        <div class="col-md-2">
            <slot name="content3">{% block sw_cms_block_alm_grid_2_8_2__3 %}{% endblock %}</slot>
        </div>
    </div>
{% endblock %}
